/* styles */
/* called by your view template */

* {
	box-sizing: border-box;
}

body.fnw {
	font-family: helvetica, arial, sans-serif;
	margin: 2em;
}

h1 {
	font-style: italic;
	color: #373fff;
}

.bold {
	font-weight: bold;
}

p {
	max-width: 600px;
}

.fnw form {
	margin-bottom: 25px;
	padding: 15px;
	background-color: cyan;
	display: inline-block;
	width: 100%;
	max-width: 340px;
	border-radius: 3px;
}

.fnw input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px;
}

.fnw button {
	font-size: 16px;
	border-radius: 3px;
	background-color: lightgrey;
	border: 1px solid grey;
	box-shadow: 2px 2px teal;
	cursor: pointer;
}

.fnw button:hover {
	background-color: yellow;
}

.fnw button:active {
	box-shadow: none;
}

.fnw li {
	margin-bottom: 5px;
}

.fnw footer {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid lightgrey;
}

:root {
	--f-yellow: #e8d264;
	--f-blue: #5c98d4;
	--f-red: #c66c7f;
	--f-dark-red: #d92f37;
	--f-overlay: rgb(233, 208, 152);
	--f-orange: #eed094;
	--f-orange-gray: #b7a26b;
	--f-orange-backdrop: #f2c196;
	--f-off-white: #e6e7eb;
	--f-grey: #d2d2d6;
	--f-off-black: #313222;
	--f-teal: #68b19e;
	--f-green: #77a261;
	--f-dark-green: rgb(0, 99, 42);
	--f-purple: #bc3e7d;
	--f-bright-yellow: #f9ce35;
	--f-dark-blue: #0865a5;
	--f-med-green: #005d44;
	--title-main-font: small-caps 800 24px/1 "Dosis", sans-serif;
	--subtitle-main-font: small-caps 500 24px/1 "Dosis", sans-serif;
	--regular-font: normal 400 16px/1.5 "Asap", sans-serif;
	--regular-italic-font: italic 400 14px/1 "Asap", sans-serif;
	--regular-bold-font: normal 700 14px/1 "Asap", sans-serif;
	--medium-font: normal 500 16px/1.5 "Work Sans", sans-serif;
	--special-bold-font: normal 700 14px/1 "Work Sans", sans-serif;
	--big-title: normal 400 50px/1 "Asap", sans-serif;
	scrollbar-color: var(--f-off-white) black;
}

.fnw {
	overflow-x: hidden;
}

body.fnw {
	margin: 0 0;
	background: var(--f-off-white);
	font: var(--medium-font);
	scrollbar-color: var(--f-off-white) black;
}

body.fnw::-webkit-scrollbar-track {
	background-color: var(--f-off-white);
}

body.fnw::-webkit-scrollbar {
	background-color: var(--f-off-white);
}

body.fnw::-webkit-scrollbar-corner {
	background-color: var(--f-off-white);
}

body.fnw::-webkit-scrollbar-thumb {
	background-color: black;
}

#homepage {
}

#homepage a {
}

.no-image {
	display: none;
}

.spacer {
	padding: 0 0.2em;
}

.minimal-link {
	text-decoration: none;
	color: var(--f-off-black);
}

.minimal-link:visited {
	text-decoration: none;
	color: var(--f-off-black);
}

.fnw-menu-box {
	margin-top: 14px;
	box-sizing: content-box;
	overflow: hidden;
	border-top: 3px solid;
}

.fnw-menu-box ul {
	float: left;
	padding-right: 8px;
	margin-bottom: 2px;
	padding: 0;
	max-width: 30%;
	margin-top: 2px;
	background: var(--f-overlay);
	background-blend-mode: hue;
	opacity: 0.8;
}

.fnw-menu-box li {
	margin: 0;
	margin-bottom: -6px;
	padding: 0;
	font: var(--medium-font);
	text-decoration: none;
	font-size: 20px;
}

.fnw-menu-box li:after {
	content: ". ";
	color: var(--f-off-black);
	text-decoration: none;
}

.fnw-menu-box li:before {
	content: "| ";
	color: var(--f-off-black);
	text-decoration: none;
}

.fnw-menu-box li a {
	text-decoration: underline;
}

.fnw-menu-box li h5 {
	display: inline;
	margin: 0 0;
}

.fnw-menu-box a {
	color: var(--f-blue);
}

.fnw-menu-box .informer {
	float: left;
	width: 35%;
	margin: 10px 20px 10px 10%;
}

.fnw-menu-box .meta {
	font-size: smaller;
	float: right;
	width: fit-content;
}

.fnw-menu-box:before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 65%;
	height: 80%;
	background: var(--f-overlay);
	top: 50px;
	background-blend-mode: hue;
	z-index: -1;
	opacity: 0.8;
	left: 8px;
}

.fnw-card {
	display: block;
	box-sizing: border-box;
	font: var(--medium-font);
	height: 429px;
	width: 400px;
	/* border: 1px solid black; */
	margin: 60px;
	padding: 25px;
	position: relative;
	background-color: var(--f-off-white);
}

.full-box {
	width: calc(100% - 5% - 3px);
	height: 400px;
	z-index: 5;
	background-color: transparent;
	margin-left: 0;
	margin-bottom: 0;
}

.full-box .homepage-title {
	color: white;
	font-size: 140px;
	margin-top: 0;
	font-weight: 500;
	font-size: 12.5vw;
}

.fnw-card:before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	float: left;
	width: 110%;
	height: 106%;
	background: var(--f-overlay);
	top: -46px;
	background-blend-mode: hue;
	z-index: 100;
	opacity: 0.3;
	left: 15px;
}

.fnw-card:after {
	content: "";
}

.full-box.fnw-card:before {
	width: 104%;
	height: 100%;
	top: -46px;
	left: 15px;
}

.full-box.fnw-card:after {
	width: calc(100% + 25px + 25px);
	height: calc(100% + 25px + 25px + 4px);
	background-image: url("../static/me.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	display: inline-block;
	position: absolute;
	background-blend-mode: hue;
	top: 0;
	box-sizing: border-box;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.fnw-card h3,
.fnw-card h1,
.black-out-box h3,
.black-out-box h1 {
	font: var(--big-title);
	text-transform: uppercase;
	font-stretch: ultra-expanded;
	font-kerning: normal;
}

.fnw-card h3 {
	font-size: 50px;
	font-stretch: 200%;
	font-weight: 400;
}

.card-container .fnw-card h3 {
	font-size: 2.8vw;
}

.card-container .fnw-card h4 {
	font-size: 1.5vw;
}

.fnw h4 {
	font: var(--title-main-font);
}

.site-bread-crumb {
	display: block;
	width: calc(100% - 25px);
	border-bottom: solid black 1px;
	position: absolute;
	top: -35px;
	font-size: 6px;
	font: var(--medium-font);
	font-size: 12px;
	padding-bottom: 0px;
	vertical-align: bottom;
}

.middle-fw-box-container {
	position: absolute;
	z-index: 1;
	width: 100%;
	margin-top: 60px;
}

.outer-card-container {
	position: absolute;
	z-index: 1;
	width: 100%;
	margin-top: 60px;
}

.lower-fw-box-container {
	position: relative;
	z-index: 1;
}

.lower-fw-box {
	width: 94%;
	height: 450px;
	background-color: var(--f-grey);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	z-index: 3;
	position: relative;
	margin-top: 80px;
	margin-left: 5%;
}

.lower-fw-box:before {
	content: " ";
	width: calc(78% + 25px + 25px);
	height: calc(55% + 25px + 25px + 4px);
	background-color: var(--f-overlay);
	display: block;
	float: left;
	position: absolute;
	bottom: 0%;
	box-sizing: border-box;
	left: -5%;
	z-index: 2;
	opacity: 0.3;
}

.lower-fw-box .fact-box-container {
	width: 75%;
	margin-left: 25%;
	height: 96%;
}

.fact-box-container {
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: column wrap;
	justify-content: flex-start;
	place-content: flex-start;
	position: relative;
	z-index: 5;
}

.fact-box {
	max-width: 32%;
	font: var(--medium-font);
	height: fit-content;
	overflow: hidden;
	background: linear-gradient(
		to right,
		transparent 32px,
		var(--f-off-white) 32px 100%
	);
	padding: 4px;
	position: relative;
	margin-bottom: 18px;
	margin-right: 8%;
	min-height: 85px;
	min-width: 158px;
	flex-grow: 0;
	z-index: 6;
}

.fact-box .side-h-box {
	position: absolute;
	margin: 1px 0;
	background-color: var(--f-off-white);
	border-right: 1px solid black;
	top: 0;
	left: 0;
	height: 100%;
	width: 25px;
}

.fact-box-inner {
	margin-left: 28px;
	background-color: var(--f-off-white);
	height: 94%;
	width: calc(100% - 28px);
	position: relative;
	z-index: 8;
}

.fact-box-inner a {
}

.fact-box h5 {
	font: var(--title-main-font);
	font-size: 24px;
	font-variant: all-small-caps;
	padding: 2px;
	height: fit-content;
	display: block;
	transform: rotate(-90deg);
	position: absolute;
	right: 0px;
	top: -26px;
	text-align: right;
	margin: 0;
	width: max-content;
	transform-origin: bottom right;
}

.fact-box h6 {
	margin: 4px;
}

.fact-box ul {
	margin-left: -8px;
}

.fact-box p,
.fact-box li {
	margin: 9px 4px;
	font-size: 12px;
}

.card-container {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	width: fit-content;
	max-width: 100%;
}

.card-container:after {
	content: "Highlights";
	position: absolute;
	font-size: 80px;
	z-index: 60;
	margin-top: 34%;
	height: 20%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	font: var(--title-main-font);
	font-size: 146px;
	letter-spacing: 0.15em;
	color: var(--f-red);
}

.rotated {
	margin: 4px;
	height: 590px;
	flex: 0 1 auto;
}

.rotated:before {
	display: none;
}

.fnw-card.rotated {
	overflow-y: auto;
	max-height: 100%;
	scrollbar-color: var(--f-off-white) black;
}

.fnw-card.rotated::-webkit-scrollbar-track {
	background-color: var(--f-off-white);
}

.fnw-card.rotated::-webkit-scrollbar {
	background-color: var(--f-off-white);
}

.fnw-card.rotated::-webkit-scrollbar-corner {
	background-color: var(--f-off-white);
}

.fnw-card.rotated::-webkit-scrollbar-thumb {
	background-color: black;
}

.rotate-1 {
	transform: rotate(-4deg);
	margin-right: -8px;
	background-color: var(--f-yellow);
	scrollbar-color: var(--f-yellow) black;
}
.fnw-card.rotated.rotate-1::-webkit-scrollbar-track {
	background-color: var(--f-yellow);
}

.fnw-card.rotated.rotate-1::-webkit-scrollbar {
	background-color: var(--f-yellow);
}

.fnw-card.rotated.rotate-1::-webkit-scrollbar-corner {
	background-color: var(--f-yellow);
}
.rotate-2 {
	margin-top: -60px;
	height: 630px;
	z-index: 20;
	background-color: var(--f-blue);
	scrollbar-color: var(--f-blue) black;
}
.fnw-card.rotated.rotate-2::-webkit-scrollbar-track {
	background-color: var(--f-blue);
}

.fnw-card.rotated.rotate-2::-webkit-scrollbar {
	background-color: var(--f-blue);
}

.fnw-card.rotated.rotate-2::-webkit-scrollbar-corner {
	background-color: var(--f-blue);
}
.rotate-3 {
	transform: rotate(4deg);
	margin-left: -8px;
	background-color: var(--f-red);
	scrollbar-color: var(--f-red) black;
}
.fnw-card.rotated.rotate-3::-webkit-scrollbar-track {
	background-color: var(--f-red);
}

.fnw-card.rotated.rotate-3::-webkit-scrollbar {
	background-color: var(--f-red);
}

.fnw-card.rotated.rotate-3::-webkit-scrollbar-corner {
	background-color: var(--f-red);
}

.list-of-links {
	margin: 0;
}

.list-of-links a {
	text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1),
		1px -1px 0 rgb(255, 255, 255, 0.1), -1px 1px 0 rgb(255, 255, 255, 0.1),
		1px 1px 0 rgb(255, 255, 255, 0.1);
}

.list-of-links a:visited {
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.black-out-box .flex-row {
	width: 90%;
	margin-left: 10%;
}

.black-out-box .flex-col:last-child {
	flex-direction: row-reverse;
}

.black-out-box {
	background-color: var(--f-off-black);
	position: relative;
	width: 100%;
	min-height: 34vw;
	/* width: 34vw;
	height: 34vw;
	min-width: 400px; */
}

.black-out-box a {
	color: var(--f-blue);
}

.black-out-box h3,
.black-out-box h1 {
	font: var(--special-bold-font);
	font-size: 70px;
	line-height: 75%;
	color: var(--f-orange-backdrop);
	letter-spacing: 0.03em;
	font-size: 5vw;
	font-size: 5vw;
	display: inline-block;
	margin-block-start: 0.7em;
	margin-block-end: 0.7em;
	padding-inline-start: 10%;
	padding-inline-end: 18%;
	/* box-sizing: content-box; */
	/* padding-inline-end: 18%; */
	max-width: 100%;
}

.black-out-box h1 {
	line-height: 85%;
}

.black-out-box .bb-image-wrapper {
	position: relative;
	overflow: hidden;
	height: fit-content;
	/* width: 400px; */
	min-height: 400px;
	float: right;
	margin-right: 10%;
	max-width: 100%;
	margin-bottom: 12px;
}

.black-out-box .bb-image-wrapper img {
	position: relative !important;
}

.black-out-box .bb-data-holder {
	float: left;
	margin-left: 0%;
	color: var(--f-off-white);
	max-width: 75%;
	overflow-wrap: break-word;
	overflow: hidden;
}

.clip-link {
	margin: 10px 0;
	font: var(--special-bold-font);
	font-size: 2.6vw;
}

#static-page {
	width: 100vw;
	height: 100vh;
}

#static-page iframe {
	width: 95%;
	height: 98%;
	margin: 0;
}

@media only all and (min-width: 1350px) {
	.full-box.fnw-card h1.homepage-title {
		font-size: 9.5vw;
	}
}

@media only all and (min-width: 1870px) {
	.full-box.fnw-card h1.homepage-title {
		font-size: 175px;
	}
}

@media only all and (max-width: 1024px) {
	.outer-card-container {
		margin-top: 60px;
	}
	.card-container:after {
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
			1px 1px 0 #000;
		font-size: 115px;
		margin-top: 38%;
	}
	.rotate {
		font-size: medium;
		width: 300px;
	}
	.fnw-card.rotated {
		padding: 15px;
		width: 300px;
	}
	.fnw-card.rotated h4 {
		margin-top: 10px;
		margin-block-start: 10px;
		margin-bottom: 10px;
		margin-block-end: 10px;
	}
	.rotate-1 {
	}
	.rotate-2 {
	}
	.rotate-3 {
	}
	.fnw-menu-box .informer {
		max-width: 56%;
		background: #e8d5a9;
		padding: 10px;
	}
}

@media only all and (max-width: 950px) {
	.outer-card-container {
		margin-top: 20px;
	}
	.card-container:after {
		display: none;
	}
	.card-container {
		flex-flow: column;
		width: 95%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}
	.card-container .fnw-card {
		width: 80%;
	}
	.card-container .fnw-card .fnw-card-inner {
		max-width: 410px;
		margin: 0px auto;
	}
	.rotate-1 {
		flex-flow: column;
		transform: rotate(0deg);
		margin: 10px 0px;
		margin-top: 0;
	}
	.rotate-2 {
		flex-flow: column;
		height: 600px;
		margin: 10px 0px;
	}
	.rotate-3 {
		flex-flow: column;
		transform: rotate(0deg);
		margin: 10px 0px;
	}
}

@media only all and (max-width: 775px) {
	.lower-fw-box {
		height: 550px;
	}
	.fnw-menu-box .informer {
		width: 56%;
	}
}

@media only all and (max-width: 750px) {
	.lower-fw-box {
		height: 600px;
	}
}

@media only all and (max-width: 650px) {
	.black-out-box .flex-row {
		flex-direction: column;
	}
	.black-out-box .flex-col:last-child {
		flex-direction: column;
	}

	.card-container .fnw-card h3 {
		font-size: 6vw;
	}

	.card-container .fnw-card h4 {
		font-size: 4vw;
	}
}

@media only all and (max-width: 600px) {
	:root {
		--medium-font: normal 500 14px/1.5 "Work Sans", sans-serif;
	}

	.fnw-menu-box ul {
		margin-right: 8px;
	}

	.fnw-menu-box li {
		margin: 0;
		margin-bottom: 0;
		padding: 4px 4px;
		font-size: 16px;

		border-radius: 1px;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-left: 1px white thick;

		border: 0px black solid;
	}
	.fnw-menu-box li:first-of-type {
		border-top: 0px solid;
	}
	.fnw-menu-box li:last-of-type {
		border-bottom: 0px solid;
	}
	.fnw-menu-box .informer {
		margin-left: 2%;
		width: 56%;
	}

	.lower-fw-box {
		height: 650px;
	}

	.clip-link {
		font-size: 4.5vw;
	}

	.fnw-menu-box .meta {
		display: none;
	}

	.fnw-menu-box:before {
		width: 98%;
	}

	.fnw-menu-box .informer {
		width: 62%;
		margin-right: 0;
		box-sizing: inherit;
	}
}

@media only all and (max-width: 550px) {
	.lower-fw-box {
		height: fit-content;
	}
	.fnw-menu-box li a {
		font-size: 10px;
	}

	.fnw-menu-box li {
		padding: 1px 4px;
	}
}

@media only all and (max-width: 400px) {
	:root {
		--medium-font: normal 500 14px/1.5 "Work Sans", sans-serif;
	}

	.fnw-menu-box .informer {
		font-size: 12px;
	}
}
